In [42]:
import pandas as pd
import random
pd.set_option('display.max_colwidth', -1)

In [26]:
ses = pd.read_csv("data/yup-sessions-2017-06-29.csv")
ses.columns = [col.strip() for col in ses.columns]
msg = pd.read_csv("data/yup-messages-2017-06-29.csv")

In [14]:
#column cleaning
msg['created_at_clean'] = pd.to_datetime(msg.created_at.astype(str).str[:-4], format='%Y-%m-%d %H:%M:%S', errors='ignore')
msg['text_readable'] = msg.sent_from +': '+ msg.text

#subset out rubric questions
ses_1_42 = ses[ses.columns[:42]]

In [37]:
print ses.shape
print msg.shape

(43380, 104)
(2891339, 8)

In [36]:
msg.sort_values(['session_id', 'created_at_clean'], ascending=[1, 1]).head(50)

,session_id,created_at,sent_from,sent_to,content_type,text,created_at_clean,text_readable
345103,0,2016-08-13 22:13:01 UTC,student,tutor,image,https://math-crunch.s3.amazonaws.com/problem-i...,2016-08-13 22:13:01,student: https://math-crunch.s3.amazonaws.com/...
345114,0,2016-08-13 22:13:07 UTC,system info,student,text,"TUTOR FOUND, NOW REVIEWING PROBLEM",2016-08-13 22:13:07,"system info: TUTOR FOUND, NOW REVIEWING PROBLEM"
345120,0,2016-08-13 22:13:18 UTC,system info,student,text,SESSION STARTED AT 6:13 AM,2016-08-13 22:13:18,system info: SESSION STARTED AT 6:13 AM
345125,0,2016-08-13 22:13:29 UTC,tutor,student,text,Hello there Kathy! Welcome to Yup!,2016-08-13 22:13:29,tutor: Hello there Kathy! Welcome to Yup!
345129,0,2016-08-13 22:13:44 UTC,tutor,student,text,I've reviewed your problem and it is about lon...,2016-08-13 22:13:44,tutor: I've reviewed your problem and it is ab...
345135,0,2016-08-13 22:14:16 UTC,tutor,student,text,How much progress have you made in solving for...,2016-08-13 22:14:16,tutor: How much progress have you made in solv...
345145,0,2016-08-13 22:14:58 UTC,tutor,student,text,I can certainly help you on this and I will gu...,2016-08-13 22:14:58,tutor: I can certainly help you on this and I ...
345155,0,2016-08-13 22:15:30 UTC,tutor,student,text,"Before we proceed to the solution, is this a g...",2016-08-13 22:15:30,"tutor: Before we proceed to the solution, is t..."
345160,0,2016-08-13 22:16:00 UTC,tutor,student,text,Alright! :) Let's proceed!,2016-08-13 22:16:00,tutor: Alright! :) Let's proceed!
345162,0,2016-08-13 22:16:42 UTC,tutor,student,text,We will first identify the parts of the divisi...,2016-08-13 22:16:42,tutor: We will first identify the parts of the...
345167,0,2016-08-13 22:17:20 UTC,tutor,student,text,What are your ideas on where to start dividing...,2016-08-13 22:17:20,tutor: What are your ideas on where to start d...
345178,0,2016-08-13 22:17:44 UTC,tutor,student,text,"From the given, should it start at 8 or in 1?",2016-08-13 22:17:44,"tutor: From the given, should it start at 8 or..."
345193,0,2016-08-13 22:18:41 UTC,tutor,student,text,Not quite but good guess though. :) The divisi...,2016-08-13 22:18:41,tutor: Not quite but good guess though. :) The...
345196,0,2016-08-13 22:18:57 UTC,tutor,student,text,"Therefore, we will first divide 8 by what number?",2016-08-13 22:18:57,"tutor: Therefore, we will first divide 8 by wh..."
345202,0,2016-08-13 22:19:27 UTC,tutor,student,text,That is correct! Thank you for taking note of ...,2016-08-13 22:19:27,tutor: That is correct! Thank you for taking n...
345204,0,2016-08-13 22:19:38 UTC,tutor,student,text,"If we divide 8 by 2, what will be the resultin...",2016-08-13 22:19:38,"tutor: If we divide 8 by 2, what will be the r..."
345208,0,2016-08-13 22:20:05 UTC,tutor,student,text,That is correct!,2016-08-13 22:20:05,tutor: That is correct!
345212,0,2016-08-13 22:20:22 UTC,tutor,student,text,"The next question is, where will we put 4 in t...",2016-08-13 22:20:22,"tutor: The next question is, where will we put..."
345216,0,2016-08-13 22:20:38 UTC,tutor,student,text,Will it be above the number 8 or will it be be...,2016-08-13 22:20:38,tutor: Will it be above the number 8 or will i...
345220,0,2016-08-13 22:21:02 UTC,tutor,student,text,Correct answer again! Alright! We are getting ...,2016-08-13 22:21:02,tutor: Correct answer again! Alright! We are g...
345223,0,2016-08-13 22:21:19 UTC,tutor,student,text,"After writing 4 above 8, what is the next step...",2016-08-13 22:21:19,"tutor: After writing 4 above 8, what is the ne..."
345244,0,2016-08-13 22:22:44 UTC,tutor,student,text,Ah! Be careful there! We need to keep in mind ...,2016-08-13 22:22:44,tutor: Ah! Be careful there! We need to keep i...
345247,0,2016-08-13 22:22:45 UTC,system info,student,text,TICK TOCK. OUT OF MINUTES IN 5 MINS,2016-08-13 22:22:45,system info: TICK TOCK. OUT OF MINUTES IN 5 MINS
345250,0,2016-08-13 22:23:11 UTC,tutor,student,text,The next step will include 4 because it is whe...,2016-08-13 22:23:11,tutor: The next step will include 4 because it...
345252,0,2016-08-13 22:23:17 UTC,tutor,student,text,Were you able to follow that?,2016-08-13 22:23:17,tutor: Were you able to follow that?
345264,0,2016-08-13 22:23:52 UTC,tutor,student,text,I know that you are in a hurry but we are gett...,2016-08-13 22:23:52,tutor: I know that you are in a hurry but we a...
345268,0,2016-08-13 22:23:57 UTC,tutor,student,text,Let's proceed!,2016-08-13 22:23:57,tutor: Let's proceed!
345272,0,2016-08-13 22:24:12 UTC,tutor,student,text,"After getting 4, the next step will be multipl...",2016-08-13 22:24:12,"tutor: After getting 4, the next step will be ..."
345277,0,2016-08-13 22:24:26 UTC,tutor,student,text,What will be the product of 4 and 2 and where ...,2016-08-13 22:24:26,tutor: What will be the product of 4 and 2 and...
345284,0,2016-08-13 22:25:05 UTC,tutor,student,text,"Okay! From 4, we multiply it by 2. :)",2016-08-13 22:25:05,"tutor: Okay! From 4, we multiply it by 2. :)"
345287,0,2016-08-13 22:25:16 UTC,tutor,student,text,What will be the answer if we do that?,2016-08-13 22:25:16,tutor: What will be the answer if we do that?
345290,0,2016-08-13 22:25:32 UTC,tutor,student,text,That is correct!,2016-08-13 22:25:32,tutor: That is correct!
345294,0,2016-08-13 22:25:39 UTC,tutor,student,text,Where will we put that new 8?,2016-08-13 22:25:39,tutor: Where will we put that new 8?
345300,0,2016-08-13 22:26:16 UTC,tutor,student,text,Not quite but good guess there. 8 will be unde...,2016-08-13 22:26:16,tutor: Not quite but good guess there. 8 will ...
345307,0,2016-08-13 22:26:48 UTC,tutor,student,text,"Then after writing 8 under 8, what do you thin...",2016-08-13 22:26:48,"tutor: Then after writing 8 under 8, what do y..."
345313,0,2016-08-13 22:27:06 UTC,tutor,student,text,Thank you for keeping that in mind! :),2016-08-13 22:27:06,tutor: Thank you for keeping that in mind! :)
345315,0,2016-08-13 22:27:08 UTC,tutor,student,text,Perfect!,2016-08-13 22:27:08,tutor: Perfect!
345318,0,2016-08-13 22:27:21 UTC,tutor,student,text,Subtracting the two 8's will give us what value?,2016-08-13 22:27:21,tutor: Subtracting the two 8's will give us wh...
345323,0,2016-08-13 22:27:35 UTC,tutor,student,text,That is correct!,2016-08-13 22:27:35,tutor: That is correct!
544016,0,2016-09-11 18:33:34 UTC,student,tutor,image,https://math-crunch.s3.amazonaws.com/problem-i...,2016-09-11 18:33:34,student: https://math-crunch.s3.amazonaws.com/...
544027,0,2016-09-11 18:34:38 UTC,tutor,student,text,Is there a question that you wanted to start o...,2016-09-11 18:34:38,tutor: Is there a question that you wanted to ...
544032,0,2016-09-11 18:35:08 UTC,tutor,student,text,Ok,2016-09-11 18:35:08,tutor: Ok
544037,0,2016-09-11 18:35:21 UTC,tutor,student,text,I understand what the question is asking now,2016-09-11 18:35:21,tutor: I understand what the question is askin...
544049,0,2016-09-11 18:35:42 UTC,tutor,student,text,What do you know about the lengths in the diag...,2016-09-11 18:35:42,tutor: What do you know about the lengths in t...
544059,0,2016-09-11 18:36:10 UTC,tutor,student,text,That's ok if you don't know where to start (:,2016-09-11 18:36:10,tutor: That's ok if you don't know where to st...
544063,0,2016-09-11 18:36:30 UTC,tutor,student,text,We're given that the length of AB = length of CD,2016-09-11 18:36:30,tutor: We're given that the length of AB = len...
544069,0,2016-09-11 18:36:54 UTC,tutor,student,text,Can we think of a way to write the lengths of ...,2016-09-11 18:36:54,tutor: Can we think of a way to write the leng...
677885,0,2016-09-29 21:27:35 UTC,student,tutor,image,https://math-crunch.s3.amazonaws.com/problem-i...,2016-09-29 21:27:35,student: https://math-crunch.s3.amazonaws.com/...
677891,0,2016-09-29 21:27:41 UTC,system info,student,text,"TUTOR FOUND, NOW REVIEWING PROBLEM AT NO CHARGE",2016-09-29 21:27:41,"system info: TUTOR FOUND, NOW REVIEWING PROBLE..."
677894,0,2016-09-29 21:28:00 UTC,system info,student,text,SESSION STARTED AT 12:57 AM,2016-09-29 21:28:00,system info: SESSION STARTED AT 12:57 AM

In [ ]:
ses_1_42.info()

In [27]:
brkd_sent_from = msg.groupby('sent_from').count()['session_id']

In [38]:
ses_1_42.groupby('consolidated_session_category').count()['session_id']

 consolidated_session_category
connection-issue       174
gap-bridged          17597
gap-clarification    10555
gap-explained         5711
no-msg-sent           3837
Name: session_id, dtype: int64

In [54]:
def random_msg_gen(num_msgs):
    indices = []
    for i in range(num_msgs):
        ses_id = ses.session_id[random.randint(0,ses.shape[0])]
        indices.append(ses_id)
    
    return df_all[df_all.session_id.isin(indices)].sort_values(['session_id', 'created_at_clean',], ascending=[1, 1])\
[[ 'text_readable', 'session_id','consolidated_session_category','created_at_clean' ]]

In [55]:

random_msg_gen(100).to_csv('data/sample_msgs.csv')

In [47]:
ses.head()

,session_id,tutor_id,student_id,timestamp,feedback_score,wait_time,ended_by_reason,session_category,consolidated_session_category,student_complained,...,rubric_question_53,rubric_question_54,rubric_question_55,rubric_question_56,rubric_question_81,rubric_question_82,rubric_question_83,rubric_question_84,rubric_question_85,rubric_question_86
0,299889,18172.0,381768,2016-06-08 00:55:15 UTC,0.4,45.310611,student:end_button,gap-explanation,gap-explained,False,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,299890,283248.0,375024,2016-06-08 01:06:08 UTC,0.9,3.697823,student:terminated_app,gap-bridged,gap-bridged,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,299891,8593.0,343165,2016-06-08 01:52:46 UTC,0.0,10.116270,student:end_button,gap-clarification,gap-clarification,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,299892,283248.0,375024,2016-06-08 01:54:33 UTC,0.9,3.172246,tutor:end_button,gap-bridged,gap-bridged,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,299893,43182.0,154731,2016-06-08 01:55:00 UTC,0.8,7.960689,student:end_button,gap-explanation,gap-explained,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_all = msg.merge(ses, on = 'session_id')

In [49]:
df_all.shape

(2628787, 111)

In [50]:
df_all.head()

,session_id,created_at,sent_from,sent_to,content_type,text,created_at_clean,text_readable,tutor_id,student_id,...,rubric_question_53,rubric_question_54,rubric_question_55,rubric_question_56,rubric_question_81,rubric_question_82,rubric_question_83,rubric_question_84,rubric_question_85,rubric_question_86
0,299889,2016-06-08 00:56:13 UTC,student,tutor,image,https://math-crunch.s3.amazonaws.com/problem-images/2016/06/07/problem_image__381768_.jpg?response-content-type=image%2Fjpeg&AWSAccessKeyId=AKIAI4M7NZS5TIJI7AKA&Expires=1780880114&Signature=q4MERGzB%2B0jr%2Fex8bg5xhKmXGjA%3D,2016-06-08 00:56:13,student: https://math-crunch.s3.amazonaws.com/problem-images/2016/06/07/problem_image__381768_.jpg?response-content-type=image%2Fjpeg&AWSAccessKeyId=AKIAI4M7NZS5TIJI7AKA&Expires=1780880114&Signature=q4MERGzB%2B0jr%2Fex8bg5xhKmXGjA%3D,18172.0,381768,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,299889,2016-06-08 00:56:14 UTC,system info,student,text,"Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",2016-06-08 00:56:14,"system info: Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",18172.0,381768,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,299889,2016-06-08 00:56:16 UTC,system info,student,text,"Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",2016-06-08 00:56:16,"system info: Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",18172.0,381768,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,299889,2016-06-08 00:56:16 UTC,system info,student,text,"Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",2016-06-08 00:56:16,"system info: Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",18172.0,381768,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,299889,2016-06-08 00:56:17 UTC,system info,student,text,"Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",2016-06-08 00:56:17,"system info: Don't worry, no minutes will be used while\nJitendra reviews your problem ðŸ˜ƒ",18172.0,381768,...,No,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN